parameters:
	ignoreErrors:
		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertInstanceOf\\(\\) with 'BrandEmbassy\\\\\\\\UnitOfWork\\\\\\\\MergeableOperation' and BrandEmbassy\\\\UnitOfWork\\\\MergeableOperation will always evaluate to true\\.$#"
			count: 2
			path: src/UnitOfWork/UnitOfWorkTest.php
